@model List<MossadDirectors.Models.Getsuggestioncs>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
       
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model[1].TargetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[1].TargetNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[1].AgentNickname)
            </th>
             <th>
                @Html.DisplayNameFor(model => model[1].Timeleft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[1].DistanceBetween)
            </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(Getsuggestioncs item in Model)
       { <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.TargetName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.TargetNotes)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgentNickname)
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Timeleft)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DistanceBetween)
            </td>
            <td>
                   @*  <a asp-action="AssignMission" asp-route-itemid="@item.MissionId">AssignMission</a> *@
                @Html.ActionLink("AssignMission", "AssignMission", new {  id=item.MissionId }) |
                    @* <a asp-action="AssignMission" asp-route-itemid="@item.MissionId">AssignMission</a> *@
                @Html.ActionLink("Details", "Details", new { id= @item.MissionId }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>}
        </tr>
}
    </tbody>
</table>
